*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.center{
    margin: 0 auto;
    width: 80%;
}

.clear{
    clear: both;
}

.h2text{
    font-size: 35px;
}

/* start header */

.header{
    padding: 15px 0;
}

.header__logo{
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #FDC800;
    margin-right: 10px;
}

.header__logo, .header__text{
    float: left;
    margin-bottom: 15px;
}

.header__nav li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    padding-left: 30px;
}

.header__nav li a{
    text-decoration: none;
    color: black;
}

/* end header */

/* start carousel */

.carousel{
    background-image: url(../img/2.jpg);
    height: 90vh;
    background-size: cover;
}

/* end carousel */

/* start campus */

.campus{
    padding: 80px 0;
}

.campus__left, .campus__right{
    float: left;
    width: 50%;
}

.campus__left h2{
    margin-bottom: 20px;
}

.campus__left p{
    font-size: 18px;
    color: #797979;
    margin-bottom: 20px;
    line-height: 24px;
}

.campus__right img{
    width: 100%;
    border-radius: 0 5px 5px 0;
    padding-left: 50px;
}

.campus__left button{
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #FDC800;
    color: black;
    font-size: 19px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

/* end campus */

/* start number */

.number{
    background-color: #F6F6F6;
    height: 200px;
    padding: 70px 0 0 0;
}

.number .number__item{
    float: left;
    width: 25%;
}

.number__list h2, .number__list p{
    float: left;
    text-transform: uppercase;
}

.number__list h2{
    font-size: 55px;
    width: 20%;
}

.number__list p{
    font-size: 20px;
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;
}

/* end number */

/* start content */

.content{
    padding: 80px 0;
}

.content__item{
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.content__container{
    background-color: #002146;
    color: white;
    height: 175px;
    text-align: center;
    padding: 50px 0;
    border-radius: 6px;
}

.content__container i{
    font-size: 46px;
    margin-bottom: 20px;
}

.content__container p{
    font-size: 18px;
}

/* end content */

/* start news */

.news{
    background-color: #F6F6F6;
    color: black;
    padding: 100px 0;
}

.news__posts, .news__events{
    float: left;
    width: 50%;
}

.news__posts{
    padding-right: 50px;
}

.news h2{
    margin-bottom: 40px;
}

.posts__content{
    background-color: white;
    padding: 20px 0 20px 20px;
}

.posts__left {
    float: left;
    width: 35%;
}

.posts__right{
    float: left;
    width: 65%;
}

.posts__left img{
    width: 90%;
    border-radius: 6px;
}

.posts__right h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.posts__right p:first-of-type{
    color: #939393;
    font-size: 18px;
    margin-bottom: 20px;
}

.posts__right p:last-of-type{
    font-size: 16px;
}

.news__under{
    border: 0.001px solid rgba(163, 163, 163, 0.2);
    width: 96%;
    margin:  30px 0;
}

.news__posts .posts__button{
    text-align: right;
}

.news__posts button{
    padding: 15px 30px;
    background-color: #FDC800;
    color: black;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}

.events__item{
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
}

.events__card{
    float: left;
    width: 20%;
    text-align: center;
}

.events__card p{
    font-size: 18px;
}

.card__top{
    background-color: #FDC800;
    border-radius: 10px 10px 0 0;
    padding: 18px;
}

.card__top h3{
    font-size: 40px;
}

.card__bottom{
    background-color: #002146;
    color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px 8px;
}

.events__content{
    float: left;
    width: 80%;
    padding-left: 20px;
}

.events__content h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.events__content p{
    font-size: 18px;
    line-height: 24px;
}

.events__content p:first-of-type{
    color: #585858;
    margin-bottom: 10px;
}

.events__content p:last-of-type{
    color: #002146;
}

.events__btn{
    text-align: right;
}

.news__events button{
    padding: 15px 30px;
    background-color: #FDC800;
    color: black;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}

/* end news */

/* start footer */

.footer{
    background-color: #002146;
    color: white;
    padding: 60px;
}

.footer p{
    font-size: 18px;
}

.footer__item1{
    float: left;
    width: 40%;
    padding-right: 60px;
}

.footer__item, .footer__item2{
    float: left;
    width: 30%;
}

.footer h2{
    margin-bottom: 20px;
}

.footer__item1 .footer__details{
    margin-bottom: 20px;
}

.footer__item1 i{
    color: #FDC800;
}

.footer__item1 p{
    display: inline;
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer__item2{
    padding-left: 40px;
}

.footer__item li, .footer__item2 li{
    list-style: none;
    margin-bottom: 20px;
}

.footer__item a, .footer__item2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer__under{
    border: 0.001px solid rgba(69, 69, 69, 0.7);
    margin: 30px 0;
}


/* end footer */
